.mainProfileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    max-height: none;
    overflow-y: auto;
    min-height: 100vh;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}


.profileContainer {

    margin-top: 30px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
}


.topBox {
    display: flex;
    gap: 20px;
}


.userImage {
    display: flex;
    z-index: 1;
    border: 1px solid rgba(255, 255, 255, 0.288);
    position: relative;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
}

.storyBox {
    border: 5px solid transparent;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(45deg, #fdf497, #fd5949, #d6249f, #285aeb) border-box;
}



.ButtonContainer {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

#editButtons {
    width: 140px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    border: none;
    outline: none;
    font-weight: bolder;
    background-color: #363C44;
}

#editButtons:hover {
    background-color: #474a4fa6;

}



.Userhighlights {
    display: flex;
    gap: 20px;
}

.highlight {
    width: 60px;
    height: 60px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


.postContainer {
    width: 80%;
}

.allPostContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    min-height: 200px;
    max-height: auto;
    column-gap: 5px;
    row-gap: 5px;
    width: 100%;
}

.eachPost {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    flex-shrink: 1;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.itemIcons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
}

/* hide these things in full screen */

.allNewInfo {
    display: block;
    margin-left: 50px;
}

.ButtonContainer {
    display: none;
}

.infoSection {
    display: none;
    flex-direction: column;

}

.infoBox {
    display: none;
}


.shareANote {
    position: absolute;
    top: -15px;
    cursor: pointer;
    left: 30px;
    width: auto;
    background-color: rgb(63, 63, 63);
    padding: 10px;
    border-radius: 20px;
    font-size: 12px;
    transition: transform 200ms;
}

.shareANote:hover {
    transform: scale(1.1);
}



.activeNote {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    top: -25px;
    cursor: pointer;
    left: -15px;
    background-color: rgb(63, 63, 63);
    padding: 10px;
    border-radius: 20px;
    font-size: 12px;
    transition: transform 200ms;
}

.plusIcon {
    position: absolute;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    bottom: 0px;
    right: 10px;
    width: 30px;
    width: 30px;
    padding: 2px;
    background-color: rgb(50, 129, 248);
    border-radius: 50%;
    border: none;
    transition: transform 200ms;


}

.plusIcon:hover {
    transform: scale(1.1);
}


.noPostContainer {
    position: absolute;
    display: flex;
    gap: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#cameraIcon {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}


@media (max-width : 765px) {

    #postLine {
        flex-grow: 1;
        width: 320px;
        flex-wrap: nowrap;
        flex-shrink: 1;
        font-size: 13px;
    }

    .shareANote {
        left: 2px;
        font-size: 10px;

    }


    .mainProfileContainer {
        overflow-y: hidden;
        height: auto;

    }

    .plusIcon {

        height: 25px;
        width: 25px;
        right: 0px;
    }


    .ButtonContainer {
        display: block;
    }

    .infoSection {
        display: flex;

    }

    .profileContainer {
        width: 100%;
    }

    .allNewInfo {
        display: none;
    }

    .eachPost {
        overflow: hidden;
        height: 200px;
    }


    .userImage {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }


    .infoBox {
        display: flex;
        padding: 10px;
        justify-content: space-between;
        width: 100%;
        justify-content: center;
        align-items: center;
        border-top: 1px solid white;
        height: auto;
    }

    .postContainer {
        width: 100%;
    }



}