.center {
    position: absolute;
    color : black;
    width: 5px;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cloud {
    background: rgba(255, 255, 255);
    width: 180px;      
    height: 60px;      
    border-radius: 90px;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.2);
    animation: move 3s infinite;
    position: relative;
}

#cloud:after {
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 60px;  
    z-index: 0;    
    height: 60px;
    border-radius: 50%;
    top: -30px;         
    left: 30px;         
}

#cloud:before {
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 100px;    
    z-index: 0;   
    height: 90px;      
    border-radius: 50%;
    top: -55px;         
    right: 25px;      
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-25px); 
    }
}



