.smallCircle {
    position: absolute;
    top: 25px;
    left: 2px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #3f3f3fc3;
}

.mediumCircle {
    position: absolute;
    top: 12px;
    left: -5px;

    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3F3F3F;
}

.bigCircle {
    position: absolute;
    top: -8px;
    z-index: -1;
    left: -5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #3F3F3F;
}