
.allReelContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	position: relative;
	min-height: 200px;
	column-gap: 5px;
	row-gap: 5px;
	width: 100%;
}

.eachReel {
	width: 100%;
	height: 100%;
	aspect-ratio: 9 / 16;
	background: #222;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	overflow: hidden;
	border-radius: 10px;
	position: relative;
}

.reelVideo {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	pointer-events: none;
	background: #111;
}

@media (max-width: 765px) {
	.allReelContainer {
		grid-template-columns: repeat(2, 1fr);
	}
	.eachReel {
		aspect-ratio: 9 / 16;
		height: 220px;
	}
}
